* {
    font-family: 'Courier New', Courier, monospace;
}
body {
    display: flex;
    gap: .5rem;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 90%, 49%);
    
}
h1 {
    font-size: 64px;
}
#board {
    border-style: solid;
    border-width: 15px;
    border-radius: 15px;
    height: 400px;
    width: 400px;
    gap: 1px;
    display: flex;
    background-color: white;
}

#reset {
    background-color: hsl(14, 100%, 50%);
    color: whitesmoke;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    border-style:none;
    cursor: pointer;

}
#reset:hover {
    background-color: hsl(14, 100%, 60%);
}
#reset:active {
    background-color: hsl(14, 100%, 30%);
}

#inputMethod {
    background-color: hsl(251, 100%, 50%);
    color: whitesmoke;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    border-style:none;
    cursor: pointer;

}
#inputMethod:hover {
    background-color: hsl(251, 100%, 60%);
}
#inputMethod:active {
    background-color: hsl(251, 100%, 30%);
}

.buttons {
    background-color: hsl(27, 100%, 50%);
    padding: 15px;
    border-radius: 15px;
}